@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	font-family: "Lato", sans-serif;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.header {
	height: 75px;
	background: #222222;
	max-width: 1600px;
	margin: 0 auto;
}

.navigation {
	display: flex;
	justify-content: space-around;
	gap: 859px;
}

.header_left {
	display: flex;
	gap: 41px;
	padding-top: 18px;
	padding-bottom: 19px;
}

.header_right {
	display: flex;
	gap: 33px;
	padding-top: 26px;
	padding-bottom: 20px;
}

.button_header {
	align-items: center;
	background: none;
	border: none;
}

.main {
}

.top {
	display: flex;
	max-width: 1600px;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
	background: #f1e4e6;
	text-transform: uppercase;
}

.main_left {
	max-width: 801px;
	max-height: 764px;
}

.main_right {
	width: 405px;
	height: 93.1px;
	padding: 1px 16px 0px 16px;
	border-left: #f16d7f 12px solid;
	margin-left: 64px;
	margin-bottom: 88px;
}

.main_right h1 {
	font-size: 48px;
	font-weight: 900px;
}

.main_right h2 {
	font-size: 32px;
	font-weight: 700px;
}

.fashion {
	color: #f16d7f;
}

.type_list {
	margin-top: 65px;
	margin-bottom: 96px;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	flex-wrap: wrap;
	text-transform: uppercase;
}

.img_type1 {
	background: linear-gradient(rgba(33, 23, 23, 0.7), rgba(33, 23, 23, 0.7)), url("img/grid1_1.png") center no-repeat;
	height: 260px;
	width: 360px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.img_type2 {
	background: linear-gradient(rgba(33, 23, 23, 0.7), rgba(33, 23, 23, 0.7)), url("img/grid1_2.png") center no-repeat;
	height: 260px;
	width: 360px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.img_type3 {
	background: linear-gradient(rgba(33, 23, 23, 0.7), rgba(33, 23, 23, 0.7)), url("img/grid1_3.png") center no-repeat;
	height: 260px;
	width: 360px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.img_type4 {
	background: linear-gradient(rgba(33, 23, 23, 0.7), rgba(33, 23, 23, 0.7)), url("img/grid1_4.png") center no-repeat;
	height: 180px;
	width: 1140px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.type_list h2 {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
}

.type_list h1 {
	color: #f16d7f;
	font-size: 24px;
	font-weight: 700;
	line-height: 28.8px;
}

.items {
	margin-bottom: 60px;
	text-align: center;
	font-weight: 400;
}

.items_title {
	text-align: center;
	margin-bottom: 48px;
}

.items_title h1 {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 6px;
	font-weight: 400;
}

.items_title h2 {
	color: #9f9f9f;
	font-size: 14px;
	line-height: 16.8px;
	font-weight: 400;
}

.items_cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 25px 30px;
	margin-bottom: 48px;
	text-align: left;
}

.items_cards h1 {
	text-transform: uppercase;
	font-size: 13px;
	line-height: 15.6px;
	padding-top: 25px;
	padding-bottom: 13px;
	padding-left: 18px;
	font-weight: 400;
}

.items_cards h2 {
	font-size: 14px;
	color: #5d5d5d;
	line-height: 16.8px;
	padding-bottom: 16px;
	padding-left: 16px;
	font-weight: 300;
	max-width: 315px;
}

.items_cards p {
	color: #f16d7f;
	font-size: 16px;
	line-height: 19.2px;
	padding-bottom: 20px;
	padding-left: 18px;
}

.items_card1 {
	background-color: #f8f8f8;
}
.items_card2 {
	background-color: #f8f8f8;
}
.items_card3 {
	background-color: #f8f8f8;
}
.items_card4 {
	background-color: #f8f8f8;
}
.items_card5 {
	background-color: #f8f8f8;
}
.items_card6 {
	background-color: #f8f8f8;
}

.button_brouseAll {
	color: #f26376;
	padding-top: 15px;
	padding-bottom: 14px;
	text-align: center;
	font-size: 16px;
	line-height: 19.2px;
	font-weight: 400;
	border: #ff6a6a 1px solid;
	width: 212px;
	max-height: 48px;
	background: none;
}

button:hover {
	cursor: pointer;
	background-color: rgb(243, 192, 227);
}

@media (min-width: 768px) and (max-width: 1599.4px) {
	.container {
		max-width: 736px;
	}

	.header {
		height: 74px;
		max-width: 768px;
	}

	.navigation {
		gap: 424px;
	}

	.header_left {
		padding-bottom: 18px;
	}

	.header_right {
		padding-top: 19px;
		padding-bottom: 18px;
	}

	.top {
		max-width: 768px;
	}

	.main_left {
		max-width: 386px;
		max-height: 368px;
	}

	.main_right {
		width: 311px;
		height: 92px;
		margin-left: 39px;
		margin-bottom: 88px;
	}

	.main_right h1 {
		font-size: 44px;
	}

	.main_right h2 {
		font-size: 24px;
	}

	.type_list {
		margin-bottom: 110px;
		gap: 19px;
	}

	.img_type1 {
		background-size: contain;
		height: 167.62px;
		width: 232.33px;
	}

	.img_type2 {
		background-size: contain;
		height: 167.62px;
		width: 232.33px;
	}

	.img_type3 {
		background-size: contain;
		height: 167.62px;
		width: 232.33px;
	}

	.img_type4 {
		background-size: contain;
		height: 116.09px;
		width: 734.58px;
	}

	.items {
		margin-bottom: 70px;
	}

	.items_title {
		text-align: center;
		margin-bottom: 70px;
	}

	.items_title h1 {
		margin-bottom: 3.3px;
	}

	.items_cards {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 16px;
		margin-bottom: 32px;
	}
}

@media (min-width: 375px) and (max-width: 767.4px) {
	.container {
		max-width: 343px;
	}

	.header {
		height: 74px;
		max-width: 375px;
	}

	.navigation {
		gap: 200px;
	}

	.header_left {
		padding-bottom: 18px;
	}

	.header_right {
		padding-top: 25px;
		padding-bottom: 26px;
	}

	.login {
		display: none;
	}

	.basket {
		display: none;
	}

	.top {
		height: 363px;
		max-width: 375px;
	}

	.main_left {
		display: none;
	}

	.main_right {
		width: 263px;
		height: 66px;
		padding-left: 15px;
		margin-left: 56px;
		margin-bottom: 0px;
	}

	.main_right h1 {
		font-size: 38px;
	}

	.main_right h2 {
		font-size: 20px;
	}

	.type_list {
		margin-top: 64px;
		margin-bottom: 64px;
		gap: 32px;
	}

	.img_type1 {
		background-size: contain;
		height: 247px;
		width: 343px;
	}

	.img_type2 {
		background-size: contain;
		height: 249px;
		width: 344px;
	}

	.img_type3 {
		background-size: contain;
		height: 248px;
		width: 343px;
	}

	.img_type4 {
		background-size: cover;
		background-position: center;
		height: 111px;
		width: 343.26px;
	}

	.items {
		margin-bottom: 85px;
	}

	.items_title {
		text-align: center;
		margin-bottom: 64.7px;
	}

	.items_title h1 {
		margin-bottom: 3.3px;
	}

	.items_cards {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, 1fr);
		gap: 16px;
		margin-bottom: 40px;
	}
}
